# Habilitar reescritura de URL
RewriteEngine On

# Si el archivo o directorio existe, servirlo normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Si no existe, redirigir todas las solicitudes a /dashboard
RewriteRule ^.*$ /login [L,R=302]
